.movies-container-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie-card{
  height: 80vh;
  width: 30%;
  margin-bottom: 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.9);
  background: #222;
  color: #F2F2F2;
}
